* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}


.backgroundImage-lena {
  position: absolute;
  height: 80vh;
  display: block;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
}



.logo {
  text-align: center;
  margin: 70px 0;
  max-height: 200px;
}

.menu {
  text-align: center;
  margin-left: 300px;
  position: relative;
}

.menu .menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu .menu-list-mobile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  right: -100%;
}

.open {
  transition: 1s;
  right: 0;
}

.menu .menu-item {
  padding: 0 30px 0 20px;
  text-align: center;
  position: relative;
}
.menu .menu-item:before {
  content: "";
  position: absolute;
  top: 49%;
  left: -7px;
  margin-top: -2px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #dedede;
}

.menu .item-link {
  color: #919191;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
}
.menu .item-link:hover {
  color: #413e3e;
}

.fa-instagram {
  color: #919191;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateY(-50%);
  font-size: 40px;
}

.unstyled {
  list-style: none;
}

.header-mobile {
  display: none;
  background-color: #ffffff;
  z-index: 20;
}

/*hamburger menu*/

.nav_bar {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  padding: 20px;
}



.hamburger .line {
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background-color: #4d4e4e;
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger {
  transition: all 0.3s ease-in-out;
}

#hamburger.is-active {
  animation: smallbig 0.6s forwards;
}

@keyframes smallbig {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }
}

#hamburger.is-active .line:nth-child(1),
#hamburger.is-active .line:nth-child(2),
#hamburger.is-active .line:nth-child(3) {
  transition-delay: 0.2s;
}

#hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger.is-active .line:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}

#hamburger.is-active .line:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}

/*Gallery*/

/* .gallery {
  width: 80vw;
  margin: 0 auto;
  padding: .5vw;
  font-size: 0;
  flex-flow: row wrap;
  display: flex;
}
.gallery div {
  flex: auto;
  width: 300px;
  margin: .5vw;
}
.gallery div img {
  width: 100%;
  height: auto;
  transition: all 0.9s;
} */

.gallery {
  margin-top: 10vw;
}

/* .my-gallery {
  width: 80vw;
  margin: 0 auto;
  padding: 0.5vw;
  font-size: 0;
  flex-flow: row wrap;
  display: flex;
} */

.my-gallery {
  padding:20px 8%;
  column-count: 4;
  gap:10px;
}



/* .my-gallery img {
  width: 100%;
  height: auto;
  transition: all 0.9s;
} */

.my-gallery img {
  width: 100%;
  object-fit: cover;
}


/* .my-gallery figure {
  flex: auto;
  width: 300px;
  margin: 0.5vw;
} */

.my-gallery figure {
  /* padding: 15px; */
  /* margin-bottom: 10px; */
  box-shadow: 0 3px 5px rgba(0, 0,0,.3);
}

.my-gallery figcaption {
  display: none;
}

/* .gallery div img:hover {
    transform: scale(1.01)
  } */

.fa-window-close {
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px;
  margin: 5px;
  z-index: 2;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.349);
  border-radius: 3px;
}

/*contact-form*/

.form-container {
  position: relative;
  top: 100px;
  width: 800px;
  height: 20rem;
  /* background: linear-gradient(to right, rgb(2, 24, 41), black); */
  margin: 0 auto;
  margin-bottom: 300px;
}

.contact-form h2 {
  margin-bottom: 50px;
  color: #6e6d6d;
}

.contact-form {
  text-align: center;
  padding: 30px;
}

label {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: center;
}

label .label-text {
  color: #201f1f;
  cursor: text;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  transform: translateY(-34px);
  transition: all 0.3s;
}

label input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #4A4A4A;
  color: rgb(3, 3, 3);
  font-size: 20px;
  letter-spacing: 1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  width: 200px;
}

label input:focus {
  max-width: 100%;
  width: 400px;
}

label input:focus + .label-text {
  color: #9c9a9a;
  font-size: 13px;
  margin-top: 10px;
  transform: translateY(-74px);
}

label input:valid + .label-text {
  font-size: 13px;
  transform: translateY(-74px);
}

textarea {
   font-family: inherit;
   font-size: inherit;
   width: 400px;
}



button {
  background: transparent;
  color: #8f8f8f;
  border: 2px solid #949292;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 20px 75px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 15px 30px;
	transition: all 0.4s;
}

button:hover, button:focus {
  background-color: white;
  color: #333333;
}

.modal-message-error, .modal-message-success {
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgb(255, 255, 255);
  padding: 50px 70px;
  border-radius: 5px;
  border: 1px solid black;
  transition: all 0.3s linear;
}
.fa-exclamation-circle, .fa-check-circle {
  text-align: center;
  width: 50px;
  width: 100%;
  font-size: 20px;
  line-height: 2;
  color: red;


}

.fa-check-circle {
  color: rgb(2, 161, 16);
}

.message-wrong, .message-success {
  text-align: center;
  line-height: 2;
  color: rgb(0, 0, 0);
  transition: 1s;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 15px;
}

.open-modal-message-error, .open-modal-message-success {
  /* display:block; */
  visibility: visible;
  opacity: 1;


}



.close-modal, .close-modal-success {
  position: absolute;
  top: 20px;
  right: 20px;
  color: rgb(255, 255, 255);
  background: rgb(91, 92, 91);
  padding: 2px 5px;
  border-radius: 3px;
}




@media only screen and (max-width: 767px) {
  .header {
    display: none;
  }
  .nav_bar {
    display: block;
  }

  .header-mobile {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .logo {
    margin: 0;
    margin-bottom: 30px;
  }

  .logo .logo-image {
    max-height: 40px;
    display: block;
    text-align: center;
    margin: 20px auto auto 20px;
  }

  .menu {
    margin-left: 0;
    list-style-type: none;
  }

  .menu .menu-list {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    transition: 1s;
  }

  .menu .menu-list-mobile.open {
    transition: 1s;
    right: 25%;
  }

  .menu-list-mobile.open.style {
    right: -25%;
  }

  .menu-list-mobile.style {
    background-color: rgba(16, 16, 19, 0.89);
    margin-top: 17px;
  }

  .menu .menu-item:before {
    content: none;
  }

  .menu .menu-item {
    margin: 40px 0 30px 180px;
  }

  .menu-item.style {
    margin: 40px 180px 30px 30px;
  }

  .backgroundImage-lena-mobile {
    position: absolute;
    max-height: 75vh;
    display: block;
    top: 70px;
    left: 50%;
    transform: translateX(-40%);
    transition: 1s;
  }

  .backgroundImage-lena-mobile.open {
    left: 0;
    transform: translateX(0);
    transition: 1s;
  }

  .gallery {
    margin-top: 20vw;
  }

  .fa-window-close {
    position: fixed;
    top: 12%;
    right: 0;
    padding: 5px;
    margin: 5px;
    z-index: 2;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.349);
    border-radius: 3px;
  }

  .form-container {

  width: 100vw;

}

.my-gallery {
  column-count: 1;
}



.mobile-instagram {
  color: #919191;
  position: inherit;
}

textarea {
   width: 80%;
}

}
